@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.burger {
  display: none;
}

.header {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
}
.header .header__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 10px;
  justify-content: space-between;
}
.header .header__wrapper .icon {
  justify-content: space-between;
  align-items: center;
}
.header .header__wrapper .icon .icon__img {
  width: 68px;
  height: 68px;
  margin-right: 17px;
}
.header .header__wrapper .icon .icon__text {
  font-size: 15px;
  font-weight: 800;
  margin: 0;
}
.header .header__wrapper .icon .icon__text span {
  display: block;
}
.header .header__wrapper .nav {
  width: 50%;
  max-width: 467px;
}
.header .header__wrapper .nav ul {
  margin: 0;
  padding: 0;
  flex-grow: 3;
  width: 100%;
  justify-content: space-between;
}
.header .header__wrapper .nav ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.header .header__wrapper .nav ul li .nav__link {
  text-decoration: none;
  color: black;
  padding: 0 5px;
  font-size: 12px;
  font-weight: 400;
}
.header .header__wrapper .header__contacts {
  font-size: 12px;
  font-weight: 600;
}
.header .header__wrapper .header__contacts ul {
  padding: 0;
}
.header .header__wrapper .header__contacts ul li {
  list-style-type: none;
  padding: 5px 0;
}
.header .header__wrapper .header__contacts ul li .c-link {
  text-decoration: none;
  color: black;
}
.header .header__wrapper .header__contacts ul li .wpp {
  padding-left: 7px;
}

.flex-r {
  display: flex;
  flex-direction: row;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.welcome {
  width: 100%;
  height: 664px;
  background: black;
  background-color: black;
  background-image: url(../assets/images/main2.JPG);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.welcome .overlay {
  padding: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: inherit;
  background-color: black;
  opacity: 0.4;
}
.welcome .welcome__wrapper {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}
.welcome .welcome__wrapper .welcome__text {
  text-transform: uppercase;
  color: #fff;
  z-index: 3;
  align-self: center;
  align-items: center;
}
.welcome .welcome__wrapper .welcome__text h1 {
  margin: 230px 0 0 0;
  font-weight: 800px;
  font-size: 36px;
  line-height: 44px;
}
.welcome .welcome__wrapper .welcome__text h1 span {
  display: block;
}
.welcome .welcome__wrapper .welcome__text p {
  margin: 7px 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.about {
  width: 100%;
}
.about .about__wrapper {
  height: 680px;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.about .about__wrapper .about__pic {
  box-sizing: content-box;
  padding: 45px 30px 0 50px;
  display: block;
  position: relative;
}
.about .about__wrapper .about__pic h2 {
  position: relative;
  z-index: 2;
  top: -16px;
  display: block;
  white-space: nowrap;
  margin: 0;
  font-weight: 700;
  font-size: 85px;
  opacity: 0.1;
  transform: rotate(-90deg);
  left: -306px;
}
.about .about__wrapper .about__pic img {
  position: relative;
  top: -64px;
  z-index: 1;
  display: block;
  height: auto;
  max-width: 547px;
}
.about .about__wrapper .about__text {
  align-self: flex-start;
  max-width: 670px;
  margin-top: 95px;
}
.about .about__wrapper .about__text h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
.about .about__wrapper .about__text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}
.about .about__wrapper .about__text p span {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #69C6D5;
}

.ad {
  width: 100%;
  background-color: #EFEFEF;
}
.ad .ad__wrapper {
  padding: 55px 0;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
}
.ad .ad__wrapper .ad__cont {
  flex-shrink: 1;
  display: grid;
  grid-template-columns: 50% 50%;
}
.ad .ad__wrapper .ad__cont .ad__item {
  margin-right: 35px;
}
.ad .ad__wrapper .ad__cont .ad__item img {
  width: 30px;
  height: 30px;
  margin-top: 19px;
  margin-right: 5px;
}
.ad .ad__wrapper .ad__cont .ad__item .ad__text h3 {
  font-weight: 700;
  font-size: 22px;
}
.ad .ad__wrapper .ad__cont .ad__item .ad__text p {
  max-width: 307px;
  font-weight: 400;
  font-size: 14px;
}
.ad .ad__wrapper .ad__title {
  font-style: normal;
  max-width: 450px;
  font-weight: 600;
  font-size: 70px;
  line-height: 90px;
  text-align: right;
  color: #69c6d5;
}

.services {
  width: 100%;
}
.services .services__wrapper {
  margin-top: 70px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 60px 20px;
}
.services .services__wrapper .services__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
  opacity: 0.1;
  margin: 0;
  line-height: 36px;
}
.services .services__wrapper .services__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services .services__wrapper .services__container .services__item {
  width: 252px;
  height: 252px;
  background: gray;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .services__wrapper .services__container .services__item .overlay {
  padding: 0;
  position: absolute;
  z-index: 2;
  width: inherit;
  height: inherit;
  background-color: black;
  opacity: 0.4;
}
.services .services__wrapper .services__container .services__item p {
  position: relative;
  z-index: 100;
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.projects {
  width: 100%;
}
.projects .projects__wrapper {
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 30px;
}
.projects .projects__wrapper .projects__title {
  text-align: end;
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 36px;
  color: #000000;
  opacity: 0.1;
}
.projects .projects__wrapper .projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects .projects__wrapper .projects__container .projects__item {
  width: 212px;
  height: 212px;
}

.reviews {
  width: 100%;
  height: 554px;
  background: #EFEFEF;
  padding-bottom: 30px;
}
.reviews .reviews__wrapper {
  margin: 0 auto;
  max-width: 1200px;
}
.reviews .reviews__wrapper .reviews__tilte {
  padding-top: 32px;
  text-align: center;
  color: #00B7D5;
}
.reviews .reviews__wrapper .reviews__tilte h2 {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
}
.reviews .reviews__wrapper .reviews__tilte hr {
  border: 2px solid #69C6D5;
  width: 37.33px;
}
.reviews .reviews__wrapper .reviews__tilte p {
  font-weight: 500;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
}
.reviews .reviews__wrapper .reviews__container {
  display: flex;
  height: 450px;
  align-items: center;
  width: 100%;
}
.reviews .reviews__wrapper .reviews__container .b__next img {
  transform: rotate(180deg);
}
.reviews .reviews__wrapper .reviews__container .button {
  z-index: 20;
  cursor: pointer;
  background: transparent;
  position: relative;
  height: 40px;
  border: none;
}
.reviews .reviews__wrapper .reviews__container .button img {
  height: 40px;
}
.reviews .reviews__wrapper .reviews__container .slider {
  margin: 0 auto;
  width: 785px;
  height: 380px;
  overflow: hidden;
}
.reviews .reviews__wrapper .reviews__container .slider .slider-line {
  margin-top: 20px;
  left: 0;
  transition: all ease 1s;
  height: 340px;
  width: 10000px;
  display: flex;
  position: relative;
}
.reviews .reviews__wrapper .reviews__container .slider .slider-line .slide {
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0 20px;
  width: 745px;
  height: 355px;
  background: #F8F8F8;
  box-shadow: 4px 6px 10px rgba(123, 123, 123, 0.15), -6px -2px 15px rgba(255, 255, 255, 0.35);
  border-radius: 10px;
}
.reviews .reviews__wrapper .reviews__container .slider .slider-line .slide img {
  position: relative;
  top: -9px;
  left: 40px;
}
.reviews .reviews__wrapper .reviews__container .slider .slider-line .slide .rev_text {
  margin: 0 auto;
  max-width: 620px;
  font-size: 14px;
}
.reviews .reviews__wrapper .reviews__container .slider .slider-line .slide .author {
  padding-right: 10px;
  text-align: end;
  font-size: 14px;
  word-wrap: break-word;
}
.reviews .reviews__wrapper .reviews__container .slider .slider-line .slide .author span {
  font-weight: 800;
}

.contacts {
  width: 100%;
  height: 320px;
  background: #69C6D5;
}
.contacts .contacts__wrapper {
  padding: 0 20px;
  color: #EFEFEF;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.contacts .contacts__wrapper h2 {
  width: 50%;
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
}
.contacts .contacts__wrapper .contacts__container {
  width: 50%;
  justify-content: space-between;
}
.contacts .contacts__wrapper .contacts__container li {
  list-style-type: none;
}
.contacts .contacts__wrapper .contacts__container a {
  font-weight: 600;
  line-height: 25px;
  color: #FFFFFF;
  text-decoration: none;
}
.contacts .contacts__wrapper .contacts__container .contacts__social {
  width: 200px;
  justify-content: space-between;
}
.contacts .contacts__wrapper .contacts__container .contacts__social img {
  height: 30px;
}

.footer {
  width: 100%;
  height: 80px;
}
.footer .footer_wrapper {
  margin: 0 auto;
  height: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer .footer_wrapper .icon {
  justify-content: space-between;
  align-items: center;
}
.footer .footer_wrapper .icon .icon__img {
  width: 68px;
  height: 68px;
  margin-right: 17px;
}
.footer .footer_wrapper .icon .icon__text {
  font-size: 15px;
  font-weight: 800;
  margin: 0;
}
.footer .footer_wrapper .icon .icon__text span {
  display: block;
}

.item_1 {
  background-image: url(../assets/images/Rectangle4.png) !important;
}

.item_2 {
  background-image: url(../assets/images/Rectangle8.png) !important;
}

.item_3 {
  background-image: url(../assets/images/Rectangle9.png) !important;
}

.item_4 {
  background-image: url(../assets/images/photo_2023-03-26_00-30-23.jpg) !important;
}

.item_5 {
  background-image: url(../assets/images/Rectangle1.png) !important;
}

.item_6 {
  background-image: url(../assets/images/Rectangle7.png) !important;
}

.item_7 {
  background-image: url(../assets/images/Rectangle5.png) !important;
}

.item_8 {
  background-image: url(../assets/images/Rectangle6.png) !important;
}

@media (max-width: 1279px) {
  .header .header__wrapper .nav {
    width: 50%;
    max-width: 467px;
  }
  .header .header__wrapper .header__contacts {
    font-size: 12px;
    font-weight: 600;
  }
  .header .header__wrapper .header__contacts ul {
    padding: 0;
  }
  .header .header__wrapper .header__contacts ul li {
    list-style-type: none;
  }
  .header .header__wrapper .header__contacts ul li .c-link {
    text-decoration: none;
    color: black;
  }
  .welcome {
    height: 495px;
  }
  .welcome .overlay {
    padding: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: inherit;
    background-color: black;
    opacity: 0.4;
  }
  .welcome .welcome__wrapper {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
  }
  .welcome .welcome__wrapper .welcome__text {
    color: #fff;
    z-index: 3;
    align-self: center;
    align-items: center;
  }
  .welcome .welcome__wrapper .welcome__text h1 {
    margin: 230px 0 0 0;
    font-weight: 800px;
    font-size: 36px;
    line-height: 44px;
  }
  .welcome .welcome__wrapper .welcome__text h1 span {
    display: block;
  }
  .welcome .welcome__wrapper .welcome__text p {
    margin: 7px 0;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }
  .about {
    width: 100%;
  }
  .about .about__wrapper {
    padding: 0 20px;
    height: 100%;
  }
  .about .about__wrapper .about__pic {
    padding: 45px 20px 0 20px;
  }
  .about .about__wrapper .about__pic h2 {
    position: relative;
    z-index: 2;
    top: -53px;
    left: -163px;
    font-size: 48px;
  }
  .about .about__wrapper .about__pic img {
    position: relative;
    top: -85px;
    left: 5px;
    max-width: 300px;
  }
  .about .about__wrapper .about__text {
    align-self: flex-start;
    margin-top: 40px;
  }
  .about .about__wrapper .about__text h3 {
    margin-top: 0;
    font-size: 16px;
    line-height: 20px;
  }
  .about .about__wrapper .about__text p {
    font-size: 14px;
    line-height: 20px;
  }
  .ad .ad__wrapper {
    padding: 55px 15px;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
  }
  .ad .ad__wrapper .ad__cont {
    flex-shrink: 1;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .ad .ad__wrapper .ad__cont .ad__item {
    margin-right: 20px;
  }
  .ad .ad__wrapper .ad__cont .ad__item img {
    width: 25px;
    height: 25px;
    margin-top: 12px;
    margin-right: 5px;
  }
  .ad .ad__wrapper .ad__cont .ad__item .ad__text h3 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .ad .ad__wrapper .ad__cont .ad__item .ad__text p {
    max-width: 307px;
    font-weight: 400;
    font-size: 14px;
  }
  .ad .ad__wrapper .ad__title {
    max-width: 290px;
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;
  }
  .services .services__wrapper {
    margin-top: 70px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 60px 20px;
  }
  .services .services__wrapper .services__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    line-height: 36px;
  }
  .services .services__wrapper .services__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
  .services .services__wrapper .services__container .services__item {
    background-size: 100%;
    background-position: center;
    width: 175px;
    height: 175px;
  }
  .projects {
    width: 100%;
  }
  .projects .projects__wrapper {
    margin: 0 auto;
    max-width: 1200px;
  }
  .projects .projects__wrapper .projects__title {
    text-align: end;
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 36px;
    color: #000000;
    opacity: 0.1;
    margin-right: 10px;
  }
  .projects .projects__wrapper .projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
  .projects .projects__wrapper .projects__container .projects__item {
    width: 149px;
    height: 149px;
  }
  .reviews {
    height: 621px;
  }
  .reviews .reviews__wrapper .reviews__tilte h2 {
    margin: 0 0 10px 0;
    font-size: 36px;
  }
  .reviews .reviews__wrapper .reviews__container .slider {
    width: 640px;
    height: 430px;
  }
  .reviews .reviews__wrapper .reviews__container .slider .slider-line .slide {
    width: 600px;
    height: 390px;
    cursor: pointer;
  }
  .reviews .reviews__wrapper .reviews__container .slider .slider-line .slide .rev_text {
    margin: 10px auto;
    max-width: 560px;
  }
  .contacts .contacts__wrapper {
    padding: 0 30px;
  }
  .contacts .contacts__wrapper h2 {
    font-size: 36px;
  }
  .contacts .contacts__wrapper .contacts__container a {
    font-size: 12px;
  }
  .contacts .contacts__wrapper .contacts__container .contacts__social {
    width: 200px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .contacts .contacts__wrapper .contacts__container .contacts__social img {
    height: 26px;
  }
}
.body {
  transition: all 0.1s;
}

.overlay_b {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(41, 41, 41, 0.6);
  transition: all 1s;
  z-index: 100;
}

.overlay-on {
  display: block;
  transition: all 1s;
}

.body-hiden {
  overflow: hidden;
  transition: all 1s;
}

.burger {
  cursor: pointer;
  top: 15px;
  position: fixed;
  right: 20px;
  z-index: 250;
}
.burger img {
  width: 30px;
  height: 30px;
}

.mobile-header {
  display: none;
  position: absolute;
  z-index: 3;
  margin: 20px 0 0 0;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  left: 20px;
}
.mobile-header span {
  display: block;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }
  .mobile-header {
    display: block;
  }
  .header {
    width: 100%;
    background-color: #00B7D5;
  }
  .header .header__wrapper {
    height: 120px;
    width: 200px;
  }
  .header .header__wrapper .icon .icon__img {
    display: none;
  }
  .header .header__wrapper .icon .icon__text {
    display: none;
  }
  .header .header__wrapper .nav {
    width: 50%;
    max-width: 467px;
  }
  .header .header__wrapper .nav ul {
    position: fixed;
  }
  .header .header__wrapper .header__contacts {
    font-size: 12px;
    font-weight: 600;
    display: none;
  }
  .header .header__wrapper .header__contacts ul {
    padding: 0;
  }
  .header .header__wrapper .header__contacts ul li {
    list-style-type: none;
  }
  .header .header__wrapper .header__contacts ul li .c-link {
    text-decoration: none;
    color: black;
  }
  .header .header__wrapper .burger-menu {
    flex-direction: column;
    display: none;
    position: fixed;
    width: 320px;
    height: 100%;
    background-color: #EFEFEF;
    z-index: 150;
    top: 0;
    transition: all 2s;
    padding-top: 100px;
  }
  .header .header__wrapper .burger-menu ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
  }
  .header .header__wrapper .burger-menu ul li {
    padding-bottom: 20px;
  }
  .header .header__wrapper .burger-menu ul li a {
    font-size: 36px !important;
    font-weight: 700 !important;
  }
  .welcome {
    position: relative;
    top: -120px;
    height: 450px;
    background-image: url(../assets/images/main_m.png);
    background-size: auto;
    margin-bottom: -120px;
  }
  .welcome .overlay {
    padding: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: inherit;
    background-color: black;
    opacity: 0.4;
  }
  .welcome .welcome__wrapper {
    background-repeat: no-repeat;
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
  }
  .welcome .welcome__wrapper .welcome__text {
    color: #fff;
    z-index: 3;
    align-self: center;
    align-items: center;
  }
  .welcome .welcome__wrapper .welcome__text h1 {
    margin: 230px 0 0 0;
    font-weight: 800px;
    font-size: 18px;
    line-height: 25px;
  }
  .welcome .welcome__wrapper .welcome__text h1 span {
    display: block;
  }
  .welcome .welcome__wrapper .welcome__text p {
    margin: 15px 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }
  .about {
    width: 100%;
  }
  .about .about__wrapper {
    padding: 0 10px;
    height: 100%;
    flex-direction: column;
  }
  .about .about__wrapper .about__pic {
    padding: 35px 10px 0 10px;
    width: 100%;
    height: max-content;
  }
  .about .about__wrapper .about__pic h2 {
    transform: rotate(0deg);
    position: static;
    z-index: 2;
    top: -24px;
    left: -113px;
    font-size: 36px;
    line-height: 27px;
  }
  .about .about__wrapper .about__pic img {
    position: static;
    top: -15px;
    left: 25px;
    max-width: 100%;
  }
  .about .about__wrapper .about__text {
    align-self: flex-start;
    margin-top: 40px;
  }
  .about .about__wrapper .about__text h3 {
    margin-top: 0;
    font-size: 16px;
    line-height: 18px;
  }
  .about .about__wrapper .about__text p {
    font-size: 14px;
    line-height: 14pxpx;
  }
  .ad .ad__wrapper {
    padding: 25px 10px;
    flex-direction: column-reverse;
  }
  .ad .ad__wrapper .ad__cont {
    max-width: 100%;
    display: block;
  }
  .ad .ad__wrapper .ad__cont .ad__item {
    max-width: 600px;
    margin-right: 20px;
  }
  .ad .ad__wrapper .ad__cont .ad__item img {
    width: 25px;
    height: 25px;
    margin-top: 12px;
    margin-right: 5px;
  }
  .ad .ad__wrapper .ad__cont .ad__item .ad__text h3 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .ad .ad__wrapper .ad__cont .ad__item .ad__text p {
    max-width: 307px;
    font-weight: 400;
    font-size: 14px;
  }
  .ad .ad__wrapper .ad__title {
    max-width: 300px;
    font-weight: 600;
    font-size: 28px;
    line-height: 29px;
  }
  .ad .ad__wrapper .ad__title span {
    display: block;
  }
  .services .services__wrapper {
    padding: 60px 0;
  }
  .services .services__wrapper .services__title {
    margin-left: 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 25px;
  }
  .services .services__wrapper .services__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
    justify-items: center;
  }
  .services .services__wrapper .services__container .services__item {
    width: 200px;
    background-size: 100% !important;
    height: 200px;
  }
  .services .services__wrapper .services__container .services__item p {
    font-size: 15px;
  }
  .projects {
    width: 100%;
  }
  .projects .projects__wrapper {
    margin: 0 auto;
    max-width: 1200px;
  }
  .projects .projects__wrapper .projects__title {
    text-align: end;
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 25px;
    color: #000000;
    opacity: 0.1;
    margin-right: 10px;
  }
  .projects .projects__wrapper .projects__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .projects .projects__wrapper .projects__container .projects__item {
    width: 100%;
    height: auto;
  }
  .reviews {
    height: 630px;
  }
  .reviews .reviews__wrapper .reviews__tilte h2 {
    margin: 0 0 10px 0;
    font-size: 36px;
  }
  .reviews .reviews__wrapper .reviews__container {
    justify-content: center;
    justify-items: center;
  }
  .reviews .reviews__wrapper .reviews__container .button {
    padding: 0 20px;
  }
  .reviews .reviews__wrapper .reviews__container .button img {
    width: 15px;
  }
  .reviews .reviews__wrapper .reviews__container .slider {
    width: 300px;
    height: 430px;
  }
  .reviews .reviews__wrapper .reviews__container .slider .slider-line .slide {
    width: 290px;
    height: 390px;
    cursor: pointer;
    margin: 0 5px;
    overflow-y: scroll;
  }
  .reviews .reviews__wrapper .reviews__container .slider .slider-line .slide img {
    top: 0;
  }
  .reviews .reviews__wrapper .reviews__container .slider .slider-line .slide .rev_text {
    margin: 10px auto;
    max-width: 80%;
  }
  .contacts .contacts__wrapper {
    padding: 0 30px;
    flex-direction: column;
    justify-content: center;
  }
  .contacts .contacts__wrapper h2 {
    font-size: 24px;
  }
  .contacts .contacts__wrapper .contacts__container {
    flex-direction: column;
    align-items: center;
  }
  .contacts .contacts__wrapper .contacts__container a {
    font-size: 12px;
  }
  .contacts .contacts__wrapper .contacts__container .contacts__social {
    width: 200px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
  .contacts .contacts__wrapper .contacts__container .contacts__social img {
    height: 26px;
  }
}
.footer {
  width: 100%;
  height: 80px;
}
.footer .footer_wrapper {
  margin: 0 auto;
  height: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.footer .footer_wrapper .icon {
  justify-content: space-between;
  align-items: center;
}
.footer .footer_wrapper .icon .icon__img {
  width: 48px;
  height: 48px;
}
.footer .footer_wrapper .icon .icon__text {
  font-size: 14px;
  font-weight: 800;
  margin: 0;
}
.right {
  right: 0;
  transition: all 1s;
}

.left {
  right: -32rem;
  transition: all 1s;
}

.block {
  display: block !important;
  transition: all 2s;
}

@media (max-width: 450px) {
  .button {
    padding: 0 2px !important;
  }
}
@media (max-width: 416px) {
  .reviews__tilte h2 {
    font-size: 28px !important;
  }
  .services__item {
    width: 150px !important;
    background-size: auto;
    background-repeat: no-repeat !important;
    height: 150px !important;
    background: gray;
  }
}

/*# sourceMappingURL=style.css.map */
